body{
	font-family: 'Poppins', sans-serif;
	background-color: #222222;
}
h1{
	color: whitesmoke;
}

p{
	color: #858585;
}

.column{
  float: left;
  width: 33.33%;
  background-color: white;
  display: inline;
}

.javascript-section{
	float: left;
}


